$default-margin: 25px 0;
@import "partials/animation";
@import "partials/header";
@import "partials/menu";
@import "partials/main";
@import "partials/home";
@import "partials/randomcat";
@import "partials/randomfact";

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

#app {
  height: 100vh;
  overflow: hidden;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
}

#app {
  @media (max-width: 450px) {
    overflow: scroll;
    background-size: 100% 100%;
  }
  @media (min-width: 450px) and (max-width: 900px) {
    overflow: scroll;
  }
  @media (min-width: 900px) and (max-width: 1200px) {
    overflow: hidden;
  }
  @media (min-width: 1200px) {
    overflow: hidden;
  }
}
