.random__cat {
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 3px;
    animation: slowEnter 2s ease-in-out;
    background: transparent;
    color: #fff;
    margin: $default-margin;
    font-weight: 700;
}
.random__cat:hover {
    border-color: red;
    background: #fff;
    color: #000;
}
img {
    max-width: 300px;
    max-height: 300px;
}
.random__cat__errorBox {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}