nav {
  display: flex;
  justify-content: space-evenly;
  ul {
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    li {
      padding: 10px 40px;
      a:visited,
      a:link {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
      }
      a:visited:hover,
      a:link:hover {
        text-decoration: none;
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}

.fa-home,
.fa-image,
.fa-question-circle,
.fa-quote-right {
  @media (max-width: 450px) {
    font-size: 30px;
  }
  @media (min-width: 450px) and (max-width: 900px) {
    font-size: 45px;
  }
  @media (min-width: 900px) and (max-width: 1200px) {
    font-size: 50px;
  }
  @media (min-width: 1200px) {
    font-size: 65px;
  }
}
