.random__quote {
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 3px;
    animation: slowEnter 2s ease-in-out;
    background: transparent;
    color: #fff;
    margin: $default-margin;
    font-weight: 700;
}
.random__quote:hover {
    border-color: red;
    background: #fff;
    color: #000;
}
.random__quote__text {
    max-width: 350px;
    background: #fff;
    color: #000;
}
p {
    margin-top: 10px;
}