.random__fact {
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 3px;
    animation: slowEnter 2s ease-in-out;
    background: transparent;
    color: #fff;
    margin: $default-margin;
    font-weight: 700;
}
.random__fact:hover {
    border-color: red;
    background: #fff;
    color: #000;
}
blockquote {
    text-align: center;
    color: #fff;
}